<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/home/login.js" defer></script> <!--app.js의 use(express.static)설정으로 public이 정적경로로 등록되어 사용가능-->
    <!--defer: -->
    <title>Document</title>
</head>
<body>
    <input id='id' type="text" placeholder="아이디"><br> <!--선택자 id 이름 id -->
    <input id='psword' type="text" placeholder="비밀번호"><br> <!--선택자 id 이름 psword -->
    <button>로그인</button>
</body>
</html>